 <div class="background-white">

	<div class="backend-toolbar">

		<div class="backend-container">
			<%= link_to "Back To Site", projects_path %>
			<%= link_to "Add a Project", new_project_path %>
		</div>

	</div>

	<div class="backend-container">

		<div class="projects-holder">


		<%= simple_form_for (@project) do |form| %>
			  <%= form.input :title, label: "Project Title" %>
		  	  <%= form.input :first_name, label: "First Name" %>
		  	  <%= form.input :last_name, label: "Last Name" %>
		  	  <%= form.input :url, label: "Designer / Project Website", hint: "e.g facebook.com"  %>
		  	  <%= form.input :email, label: "Designers Email", hint: "tom@miln.co" %>
		  	  <%= form.input :vimeo_link, label: "Vimeo Link",  hint: "full address e.g: https://vimeo.com/99876106" %>
		  	  <%= form.input :twitter, label: "Twitter" %>
		  	  <%= form.input :description, label: "Description", as: :text, :input_html => {:rows => 10} %>
		  	  <%= form.input :quote, label: "Quote", as: :text, :input_html => {:rows => 2} %>
		  	  
		  	  <%= form.button :submit %>
		<% end %>

		<p>
		  <%= link_to 'Delete', project_path(@project), :method => :delete, :confirm => "Are you sure?" %>
		</p>

		</div>

	</div>

</div>