<header>

	<div class="layout-container">

		<nav class="main-menu">

			<ul class="menu-items">
				
				<li class="menu-item">

					<a id="layout-hero" class="menu-item-link  menu-underline js-about menu--item--active" href="">Info</a>

				</li>

				<li class="menu-item">
				
					<a id="layout-hero" class="menu-item-link  menu-underline js-manifesto" href="">Manifesto</a>

				</li>

				<li class="menu-item">

					<a id="layout-designers" class="menu-item-link js-people" href="">People</a>

				</li>
		
			</ul>

		</nav>

		<h1 class="header-logo-large">Goldsmiths BA Design Degree Show</h1>

	</div>

</header>

<article class="layout-hero">

	<div class="layout-container">

		<div class="layout-hero-one-column-grid">

			<div class="hero-type-block layout-clear-top article-info-block">

				<span class="event-date">Industry and Press </br> Private View </br> 5 June 7pm-10pm</span>
				<span class="event-date">Public Opening </br> 6-8 June 10am-4pm</span>
				<span class="event-details">The Old Truman Brewery </br> Ely’s Yard (F Block G4) </br> 15 Hanbury Street </br> E1 6QR</span>
				<a class="link-hero-twitter" href="https://twitter.com/xvshow?lang=en-gb">@xvshow</a>
			</div>

			<div class="hero-type-block layout-clear-top article-manifesto-block">

				<p class="type-hero">Out there is a world filled with complexity and contradictions; built from infinite intertwining systems; where change is the only constant; where uncertainty is certain and defining is problematic.</p> <p class="type-hero">Here you will find a design practice which acknowledges, engages with, enjoys and acts upon the complexity of the world. Here you will navigate through fields of interrogation which intersect and then separate, which connect and then contradict. </p> <p class="type-hero">Our routes are not linear, our outcomes are not set in stone: we chart ourselves loosely on changeable scales. We are collected here, together, for now.</p>
			
			</div>

		</div>

		<div class="layout-three-column-grid layout-clear-top">

			<nav class="article-data-list">

				<ul class="list-data-x">
					<h5 class="type-data-title">Download Maps</h5>
					<%= link_to "Slow - Fast / Past - Future", '/frame-1744.pdf', :class => "link-switch-dataset", :target => "_blank"%>
				    <a href="#" class="link-switch-dataset" id="xSlow" data-setToSwitch="slow" data-axis="x" data-labels="Slow,Fast" >Slow - Fast / Past - Future</a>
				    <a href="#" class="link-switch-dataset" id="xSlow" data-setToSwitch="slow" data-axis="x" data-labels="Slow,Fast" >Close - Far / Public - Private</a>
				    <a href="#" class="link-switch-dataset" id="xSlow" data-setToSwitch="slow" data-axis="x" data-labels="Slow,Fast" >Natural - Artificial / For - Against</a>
				    <a href="#" class="link-switch-dataset" id="xSlow" data-setToSwitch="slow" data-axis="x" data-labels="Slow,Fast" >Order - Chaos / Fiction - Reality</a>
				</ul>

			</nav>

		</div>

	</div>

</article>

<article class="layout-designers">

		<article class="layout-designer-expanded">

			<div class="layout-container">

			<a href="" class="link-back-to-all"></a>

			<div class="layout-two-column-grid">

				<div id="js_title" class="layout-title-holder">
									
					<h4 id="js_project_name" class="expanded-project-name"></h4>

					<a id="js_project_site" class="link-expanded-email"></a>

					<a id="js_project_email" class="link-expanded-email"></a>

					<a id="js_project_twitter" class="link-expanded-email"></a>

				</div>

				<div id="slider" class="swiper-container">

					<div class="swiper-wrapper">

			            <div class="swiper-slide">

			            	<div class="slide-img-holder">

			            		<div id="js_image_one" class="swiper-slide">
    
								</div>

			            	</div>
			            
						</div>

			            <div class="swiper-slide">

			            	<div class="slide-img-holder">

			            		<div id="js_image_two" class="swiper-slide">
    
								</div>

			            	<div>

			            </div>

			            <div class="swiper-slide">

			            	<div class="slide-img-holder">

			            		<div id="js_image_three" class="swiper-slide">
    
								</div>

			            	</div>

			            </div>
			        
			        </div>

					<div class="swiper-button-next"></div>

					<div class="swiper-button-prev"></div>

				</div>

			</div>

		</div>



	</div>

		<div class="layout-two-column-grid layout-column-right">

			<div class="layout-description-holder">

				<p id="js_quote" class="expanded-project-quote">
					
				</p>

				<div id="js_description" class="expanded-project-description">
					
				</div>

			</div>

		</div>

		</div>

		</article>

		<article class="layout-designer-list">

			<div class="layout-container">

			<div class="layout-one-column-grid">

				<ul class="list-all-designers">

					<% i = 0 %>
					<% @projects.limit(13).each do |project| %>
					<% i += 1%>

					<li name="<%= project.id %>">
						<span class="list-number">00<%= i %></span>
			  			<a class="list-designer-name"><%= project.designer %></a>	
			  			<a class="list-project-name"><%= project.title %></a>		
			  		</li>

					<% end %>

				</ul>

			</div>

		</arcticle>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% i = 13 %>
				<% @projects.offset(13).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% i = 26 %>
				<% @projects.offset(26).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid layout-column-right">

			<ul class="list-all-designers">

				<% i = 39 %>
				<% @projects.offset(39).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<ul>

	</div>

</div>

</article>