<header>

	<div class="layout-container">

		<nav class="main-menu">

			<ul class="menu-items">
				
				<li class="menu-item">

					<a id="layout-hero" class="menu-item-link js-about menu--item--active" href="">Info</a>

				</li>

				<li class="menu-item">
				
					<a id="layout-hero" class="menu-item-link js-manifesto" href="">Manifesto</a>

				</li>

				<li class="menu-item">

					<a id="layout-designers" class="menu-item-link" href="">People</a>

				</li>
		
			</ul>

		</nav>

		<h1 class="header-logo-large">Goldsmiths BA Design Degree Show</h1>

	</div>

</header>

<div class="container-canvas">

	<canvas id="network">
	     < !-- Provide fallback -->
	</canvas>

</div>


<div class="axis">
	<div class="axis-holder">
		<div class="x-axis"></div>
		<div class="y-axis"></div>
		<span class="x-axis-label-low">Slow</span>
		<span class="x-axis-label-high">Fast</span>
		<span class="y-axis-label-low">Slow</span>
		<span class="y-axis-label-high">Fast</span>
	</div>
</div>

<ul class=people>

</ul>

<ul class=people>
    <li class="person" data-slow="0.3" data-past="0.23" data-close="0.23" data-order="0.32" data-private="0.8" data-natural="0.23" data-fiction="0.54" data-for="0.55" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.5" data-past="0.8" data-close="0.32" data-order="0.54" data-private="0.23" data-natural="0.12" data-fiction="0.89" data-for="0.98" id="">
        <h1>
            Harrrrrrryyyyyyy
        </h1>
    </li>
    <li class="person" data-slow="0.1" data-past="0.23" data-close="0.20" data-order="0.96" data-private="0.99" data-natural="0.83" data-fiction="0.21" data-for="0.65" id="">
        <h1>
            Mark
        </h1>
    </li>
    <li class="person" data-slow="0.5" data-past="0.2213" data-close="0.65" data-order="0.98" data-private="0.234" data-natural="0.673" data-fiction="0.34" data-for="0.873" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.53" data-past="0.223" data-close="0.923" data-order="0.432" data-private="0.58" data-natural="0.923" data-fiction="0.254" data-for="0.855" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.143" data-past="0.935" data-close="0.323" data-order="0.932" data-private="0.38" data-natural="0.123" data-fiction="0.454" data-for="0.255" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.332" data-past="0.134" data-close="0.5232" data-order="0.98" data-private="0.234" data-natural="0.673" data-fiction="0.34" data-for="0.873" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.53" data-past="0.823" data-close="0.123" data-order="0.432" data-private="0.68" data-natural="0.723" data-fiction="0.154" data-for="0.555" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.5" data-past="0.2213" data-close="0.65" data-order="0.98" data-private="0.234" data-natural="0.673" data-fiction="0.34" data-for="0.873" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.53" data-past="0.223" data-close="0.923" data-order="0.432" data-private="0.58" data-natural="0.923" data-fiction="0.254" data-for="0.855" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.343" data-past="0.7235" data-close="0.923" data-order="0.432" data-private="0.98" data-natural="0.123" data-fiction="0.454" data-for="0.255" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.53" data-past="0.823" data-close="0.123" data-order="0.432" data-private="0.68" data-natural="0.723" data-fiction="0.154" data-for="0.455" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.523" data-past="0.623" data-close="0.223" data-order="0.912" data-private="0.468" data-natural="0.323" data-fiction="0.454" data-for="0.43" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.98" data-past="0.64" data-close="0.52" data-order="0.28" data-private="0.19" data-natural="0.29" data-fiction="0.14" data-for="0.87" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.78" data-past="0.34" data-close="0.35" data-order="0.29" data-private="0.29" data-natural="0.33" data-fiction="0.23" data-for="0.89" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.68" data-past="0.56" data-close="0.59" data-order="0.12" data-private="0.89" data-natural="0.29" data-fiction="0.54" data-for="0.78" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.93" data-past="0.27" data-close="0.84" data-order="0.32" data-private="0.45" data-natural="0.65" data-fiction="0.83" data-for="0.92" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.35" data-past="0.12" data-close="0.04" data-order="0.12" data-private="0.78" data-natural="0.93" data-fiction="0.32" data-for="0.45" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.83" data-past="0.54" data-close="0.58" data-order="0.85" data-private="0.13" data-natural="0.93" data-fiction="0.25" data-for="0.89" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.35" data-past="0.59" data-close="0.32" data-order="0.84" data-private="0.05" data-natural="0.98" data-fiction="0.84" data-for="0.29" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.39" data-past="0.22" data-close="0.62" data-order="0.93" data-private="0.20" data-natural="0.91" data-fiction="0.39" data-for="0.22" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.24" data-past="0.27" data-close="0.56" data-order="0.83" data-private="0.25" data-natural="0.59" data-fiction="0.18" data-for="0.20" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.01" data-past="0.03" data-close="0.24" data-order="0.67" data-private="0.65" data-natural="0.61" data-fiction="0.14" data-for="0.51" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.73" data-past="0.43" data-close="0.07" data-order="0.27" data-private="0.57" data-natural="0.95" data-fiction="0.43" data-for="0.22" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.73" data-past="0.43" data-close="0.07" data-order="0.27" data-private="0.57" data-natural="0.95" data-fiction="0.43" data-for="0.22" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.39" data-past="0.23" data-close="0.17" data-order="0.57" data-private="0.13" data-natural="0.69" data-fiction="0.91" data-for="0.22" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.13" data-past="0.84" data-close="0.74" data-order="0.79" data-private="0.32" data-natural="0.21" data-fiction="0.19" data-for="0.32" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.91" data-past="0.73" data-close="0.27" data-order="0.91" data-private="0.73" data-natural="0.49" data-fiction="0.19" data-for="0.76" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.87" data-past="0.45" data-close="0.23" data-order="0.73" data-private="0.89" data-natural="0.12" data-fiction="0.28" data-for="0.55" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.81" data-past="0.32" data-close="0.48" data-order="0.29" data-private="0.79" data-natural="0.42" data-fiction="0.93" data-for="0.56" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.68" data-past="0.83" data-close="0.76" data-order="0.92" data-private="0.24" data-natural="0.21" data-fiction="0.69" data-for="0.99" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.27" data-past="0.39" data-close="0.43" data-order="0.07" data-private="0.49" data-natural="0.97" data-fiction="0.92" data-for="0.62" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.76" data-past="0.63" data-close="0.96" data-order="0.15" data-private="0.25" data-natural="0.75" data-fiction="0.63" data-for="0.93" id="">
        <h1>
            Tom
        </h1>
    </li>
     <li class="person" data-slow="0.56" data-past="0.83" data-close="0.66" data-order="0.55" data-private="0.88" data-natural="0.77" data-fiction="0.89" data-for="0.13" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.76" data-past="0.63" data-close="0.96" data-order="0.15" data-private="0.25" data-natural="0.75" data-fiction="0.63" data-for="0.93" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.12" data-past="0.24" data-close="0.48" data-order="0.64" data-private="0.72" data-natural="0.78" data-fiction="0.92" data-for="0.59" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.18" data-past="0.22" data-close="0.53" data-order="0.87" data-private="0.59" data-natural="0.28" data-fiction="0.53" data-for="0.59" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.74" data-past="0.61" data-close="0.48" data-order="0.37" data-private="0.27" data-natural="0.12" data-fiction="0.01" data-for="0.22" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.95" data-past="0.28" data-close="0.78" data-order="0.26" data-private="0.37" data-natural="0.91" data-fiction="0.79" data-for="0.27" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.12" data-past="0.28" data-close="0.93" data-order="0.52" data-private="0.99" data-natural="0.61" data-fiction="0.42" data-for="0.39" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.52" data-past="0.21" data-close="0.76" data-order="0.63" data-private="0.42" data-natural="0.78" data-fiction="0.92" data-for="0.15" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.32" data-past="0.83" data-close="0.29" data-order="0.95" data-private="0.32" data-natural="0.39" data-fiction="0.12" data-for="0.18" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.12" data-past="0.93" data-close="0.84" data-order="0.29" data-private="0.43" data-natural="0.76" data-fiction="0.28" data-for="0.18" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.39" data-past="0.78" data-close="0.12" data-order="0.29" data-private="0.05" data-natural="0.52" data-fiction="0.91" data-for="0.39" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.22" data-past="0.19" data-close="0.23" data-order="0.25" data-private="0.09" data-natural="0.48" data-fiction="0.78" data-for="0.56" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.29" data-past="0.59" data-close="0.52" data-order="0.98" data-private="0.98" data-natural="0.93" data-fiction="0.92" data-for="0.94" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.21" data-past="0.17" data-close="0.12" data-order="0.48" data-private="0.76" data-natural="0.27" data-fiction="0.39" data-for="0.32" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.99" data-past="0.32" data-close="0.86" data-order="0.22" data-private="0.45" data-natural="0.33" data-fiction="0.31" data-for="0.39" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.91" data-past="0.24" data-close="0.98" data-order="0.53" data-private="0.19" data-natural="0.27" data-fiction="0.87" data-for="0.94" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.98" data-past="0.12" data-close="0.89" data-order="0.24" data-private="0.87" data-natural="0.54" data-fiction="0.29" data-for="0.91" id="">
        <h1>
            Tom
        </h1>
    </li>
    <li class="person" data-slow="0.98" data-past="0.12" data-close="0.89" data-order="0.24" data-private="0.87" data-natural="0.54" data-fiction="0.29" data-for="0.91" id="">
        <h1>
            Tom
        </h1>
    </li>

</ul>

<article class="layout-hero">

	<div class="layout-container">

		<div class="layout-one-column-grid">

			<div class="hero-type-block layout-clear-top article-info-block">

				<span class="event-date">Industry and Press Private View </br> 5 June 7pm-10pm</span>
				<span class="event-date">Public Opening </br> 6-8 June 10am-4pm</span>
				<span class="event-details">The Old Truman Brewery </br> Ely’s Yard (F Block G4) </br> 15 Hanbury Street </br> E1 6QR</span>
			</div>

			<div class="hero-type-block layout-clear-top article-manifesto-block">

				<p class="type-hero">Out there is a world filled with complexity and contradictions; built from infinite intertwining systems; where change is the only constant; where uncertainty is certain and defining is problematic.</p> <p class="type-hero">Here you will find a design practice which acknowledges, engages with, enjoys and acts upon the complexity of the world. Here you will navigate through fields of interrogation which intersect and then separate, which connect and then contradict. </p> <p class="type-hero">Our routes are not linear, our outcomes are not set in stone: we chart ourselves loosely on changeable scales. We are collected here, together, for now.</p>
			</div>

		</div>

		<div class="layout-three-column-grid layout-clear-top">

			<nav class="article-data-list">

			    <ul class="list-data-x">
			    	<h5 class="type-data-title">X Axis</h5>
			        <a href="#" class="link-switch-dataset" id="xSlow" data-setToSwitch="slow" data-axis="x" data-labels="Slow,Fast" >Slow - Fast</a>
			        <a href="#" class="link-switch-dataset" id="xPast" data-setToSwitch="past" data-axis="x" data-labels="Past,Future" >Past - Future</a>
			        <a href="#" class="link-switch-dataset" id="xClose" data-setToSwitch="close" data-axis="x" data-labels="Close,Far" >Close - Far</a>
			        <a href="#" class="link-switch-dataset" id="xOrder" data-setToSwitch="order" data-axis="x" data-labels="Order,Chaos" >Order - Chaos</a>
			        <a href="#" class="link-switch-dataset" id="xPrivate" data-setToSwitch="private" data-axis="x" data-labels="Private,Public" >Private - Public</a>
			        <a href="#" class="link-switch-dataset" id="xNatural" data-setToSwitch="natural" data-axis="x" data-labels="Natural,Artificial" >Natural - Artificial</a>
			        <a href="#" class="link-switch-dataset" id="xFiction" data-setToSwitch="fiction" data-axis="x" data-labels="Fiction,Reality"  >Fiction - Reality</a>
			        <a href="#" class="link-switch-dataset" id="xFor" data-setToSwitch="for" data-axis="x" data-labels="For,Against" >For - Against</a>
			    </ul>

			    <ul class="list-data-y">
			    	<h5 class="type-data-title">Y Axis</h5>
			         <a href="#" class="link-switch-dataset" id="ySlow" data-setToSwitch="slow" data-axis="y" data-labels="Slow,Fast" >Slow - Fast</a>
			         <a href="#" class="link-switch-dataset" id="yPast" data-setToSwitch="past" data-axis="y" data-labels="Past,Future" >Past - Future</a>
			         <a href="#" class="link-switch-dataset" id="yClose" data-setToSwitch="close" data-axis="y" data-labels="Close,Far" >Close - Far</a>
			         <a href="#" class="link-switch-dataset" id="yOrder" data-setToSwitch="order" data-axis="y" data-labels="Order,Chaos" >Order - Chaos</a>
			         <a href="#" class="link-switch-dataset" id="yPrivate" data-setToSwitch="private" data-axis="y" data-labels="Private,Public" >Private - Public</a>
			         <a href="#" class="link-switch-dataset" id="yNatural" data-setToSwitch="natural" data-axis="y" data-labels="Natural,Artificial" >Natural - Artificial</a>
			         <a href="#" class="link-switch-dataset" id="yFiction" data-setToSwitch="fiction" data-axis="y" data-labels="Fiction,Reality"  >Fiction - Reality</a>
			         <a href="#" class="link-switch-dataset" id="yFor" data-setToSwitch="for" data-axis="y" data-labels="For,Against" >For - Against</a>
			    </ul>

			</nav>

		</div>

	</div>

</article>

<article class="layout-designers">

	<div class="layout-container">

		<article class="layout-project-expanded-container">

		</article>

		<article class="layout-designer-list">

			<div class="layout-one-column-grid">

				<ul class="list-all-designers">

					<% i = 0 %>
					<% @projects.limit(13).each do |project| %>
					<% i += 1%>

					<li name="<%= project.id %>">
						<span class="list-number">00<%= i %></span>
			  			<a class="list-designer-name"><%= project.designer %></a>	
			  			<a class="list-project-name"><%= project.title %></a>		
			  		</li>

					<% end %>

				</ul>

			</div>

		</arcticle>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% i = 13 %>
				<% @projects.offset(13).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% i = 26 %>
				<% @projects.offset(26).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid layout-column-right">

			<ul class="list-all-designers">

				<% i = 39 %>
				<% @projects.offset(39).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<ul>

	</div>

</article>