<header>

	<div class="layout-container">

		<nav class="main-menu">

			<ul class="menu-items">
				
				<li class="menu-item">

					<a id="layout-hero" class="menu-item-link js-about menu--item--active" href="">Info</a>

				</li>

				<li class="menu-item">
				
					<a id="layout-hero" class="menu-item-link js-manifesto" href="">Manifesto</a>

				</li>

				<li class="menu-item">

					<a id="layout-designers" class="menu-item-link" href="">People</a>

				</li>
		
			</ul>

		</nav>

		<h1 class="header-logo-large">Goldsmiths BA Design Degree Show</h1>

	</div>

</header>

<div class="container-canvas">

	<canvas id="network">
	     < !-- Provide fallback -->
	</canvas>

</div>


<article class="layout-hero">

	<div class="layout-container">

		<div class="layout-hero-one-column-grid">

			<div class="hero-type-block layout-clear-top article-info-block">

				<span class="event-date">Industry and Press </br> Private View </br> 5 June 7pm-10pm</span>
				<span class="event-date">Public Opening </br> 6-8 June 10am-4pm</span>
				<span class="event-details">The Old Truman Brewery </br> Ely’s Yard (F Block G4) </br> 15 Hanbury Street </br> E1 6QR</span>
				<a class="link-hero-twitter" href="https://twitter.com/xvshow?lang=en-gb">@xvshow</a>
			</div>

			<div class="hero-type-block layout-clear-top article-manifesto-block">

				<p class="type-hero">Out there is a world filled with complexity and contradictions; built from infinite intertwining systems; where change is the only constant; where uncertainty is certain and defining is problematic.</p> <p class="type-hero">Here you will find a design practice which acknowledges, engages with, enjoys and acts upon the complexity of the world. Here you will navigate through fields of interrogation which intersect and then separate, which connect and then contradict. </p> <p class="type-hero">Our routes are not linear, our outcomes are not set in stone: we chart ourselves loosely on changeable scales. We are collected here, together, for now.</p>
			
			</div>

		</div>

		<div class="layout-three-column-grid layout-clear-top">

			<nav class="article-data-list">

			    <ul class="list-data-x">
			    	<h5 class="type-data-title">X Axis</h5>
			        <a href="#" class="link-switch-dataset" id="xSlow" data-setToSwitch="slow" data-axis="x" data-labels="Slow,Fast" >Slow - Fast</a>
			        <a href="#" class="link-switch-dataset" id="xPast" data-setToSwitch="past" data-axis="x" data-labels="Past,Future" >Past - Future</a>
			        <a href="#" class="link-switch-dataset" id="xClose" data-setToSwitch="close" data-axis="x" data-labels="Close,Far" >Close - Far</a>
			        <a href="#" class="link-switch-dataset" id="xOrder" data-setToSwitch="order" data-axis="x" data-labels="Order,Chaos" >Order - Chaos</a>
			        <a href="#" class="link-switch-dataset" id="xPrivate" data-setToSwitch="private" data-axis="x" data-labels="Private,Public" >Private - Public</a>
			        <a href="#" class="link-switch-dataset" id="xNatural" data-setToSwitch="natural" data-axis="x" data-labels="Natural,Artificial" >Natural - Artificial</a>
			        <a href="#" class="link-switch-dataset" id="xFiction" data-setToSwitch="fiction" data-axis="x" data-labels="Fiction,Reality"  >Fiction - Reality</a>
			        <a href="#" class="link-switch-dataset" id="xFor" data-setToSwitch="for" data-axis="x" data-labels="For,Against" >For - Against</a>
			    </ul>

			    <ul class="list-data-y">
			    	<h5 class="type-data-title">Y Axis</h5>
			         <a href="#" class="link-switch-dataset" id="ySlow" data-setToSwitch="slow" data-axis="y" data-labels="Slow,Fast" >Slow - Fast</a>
			         <a href="#" class="link-switch-dataset" id="yPast" data-setToSwitch="past" data-axis="y" data-labels="Past,Future" >Past - Future</a>
			         <a href="#" class="link-switch-dataset" id="yClose" data-setToSwitch="close" data-axis="y" data-labels="Close,Far" >Close - Far</a>
			         <a href="#" class="link-switch-dataset" id="yOrder" data-setToSwitch="order" data-axis="y" data-labels="Order,Chaos" >Order - Chaos</a>
			         <a href="#" class="link-switch-dataset" id="yPrivate" data-setToSwitch="private" data-axis="y" data-labels="Private,Public" >Private - Public</a>
			         <a href="#" class="link-switch-dataset" id="yNatural" data-setToSwitch="natural" data-axis="y" data-labels="Natural,Artificial" >Natural - Artificial</a>
			         <a href="#" class="link-switch-dataset" id="yFiction" data-setToSwitch="fiction" data-axis="y" data-labels="Fiction,Reality"  >Fiction - Reality</a>
			         <a href="#" class="link-switch-dataset" id="yFor" data-setToSwitch="for" data-axis="y" data-labels="For,Against" >For - Against</a>
			    </ul>

			</nav>

		</div>

	</div>

</article>

<article class="layout-designers">

	<div class="layout-container">

		<article class="layout-project-expanded-container">

		</article>

		<article class="layout-designer-list">

			<div class="layout-one-column-grid">

				<ul class="list-all-designers">

					<% i = 0 %>
					<% @projects.limit(13).each do |project| %>
					<% i += 1%>

					<li name="<%= project.id %>">
						<span class="list-number">00<%= i %></span>
			  			<a class="list-designer-name"><%= project.designer %></a>	
			  			<a class="list-project-name"><%= project.title %></a>		
			  		</li>

					<% end %>

				</ul>

			</div>

		</arcticle>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% i = 13 %>
				<% @projects.offset(13).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% i = 26 %>
				<% @projects.offset(26).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid layout-column-right">

			<ul class="list-all-designers">

				<% i = 39 %>
				<% @projects.offset(39).limit(13).each do |project| %>
				<% i += 1%>

				<li name="<%= project.id %>">
					<span class="list-number">0<%= i %></span>
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<ul>

	</div>

</article>