<header>

</header>

<div class="button-menu">

	<a class="button-menu-trigger" href="">Menu</a>

</div>

<div class="layout-menu">

	<div class="menu-container">

		<nav class="main-menu">

			<ul class="menu-items">
				
				<li class="menu-item">

					<span class="menu-superscript">01</span>
					<a id="layout-hero" class="menu-item-link" href="">Home</a>

				</li>

				<li class="menu-item">
				
					<span class="menu-superscript">02</span>
					<a id="layout-designers" class="menu-item-link" href="">Designers</a>

				</li>

				<li class="menu-item">

					<span class="menu-superscript">03</span>
					<a id="layout-about" class="menu-item-link" href="">About</a>

				</li>

				<li class="menu-item">

					<span class="menu-superscript">04</span>
					<a id="layout-gallery" class="menu-item-link" href="">Gallery</a>
					
				</li>

				<li class="menu-item">

					<span class="menu-superscript">05</span>
					<a id="layout-press" class="menu-item-link" href="">Press</a>
					
				</li>

				<li class="menu-item">

					<span class="menu-superscript">06</span>
					<a id="layout-contact" class="menu-item-link" href="">Contact</a>
					
				</li>
		
			</ul>

		</nav>

	</div>

</div>

<article class="layout-hero">

</article>

<article class="layout-designers">

	<div class="layout-container">

		<article class="layout-designer-expanded">

			<% @projects.limit(5).each do |project| %>

				<div id="project-<%= project.id %>" class="layout-project-expanded">

					<div class="layout-one-column-grid">

						<a href="#" class="back-to-all" id="project-<%= project.id %>">Close Project</a>

					</div>

					<div class="layout-one-column-grid">

						<h4 class="expanded-project-name"><%= project.title %></h4>
						<h5 class="expanded-designer-name"><%= project.designer %></h4>
					</div>

					<div class="layout-two-column-grid layout-column-right">

						<p class="expanded-project-description">
							<%= project.description %>
						</p>

						<a href="mailto:<%= project.email %>?Subject=Great%20Project!" class="expanded-email">Email Designer</a>

						<a class="expanded-url" href="<%= project.url %>">Visit Website</a>

					</div>

					<div class="layout-project-pictures">

						<img class="lazy image-projects" data-original="assets/db-img/project<%= project.id %>/1.jpg" src="assets/grey.gif"/>

						<img class="lazy image-projects" data-original="assets/db-img/project<%= project.id %>/2.jpg" src="assets/grey.gif"/>

						<img class="lazy image-projects" data-original="assets/db-img/project<%= project.id %>/3.jpg" src="assets/grey.gif"/>

					</div>

				</div>

			<% end %>

		</article>

		<article class="layout-designer-list">

			<div class="layout-one-column-grid">

				<ul class="list-all-designers">

					<% @projects.limit(12).each do |project| %>

					<li name="project-<%= project.id %>">
			  			<a class="list-designer-name"><%= project.designer %></a>	
			  			<a class="list-project-name"><%= project.title %></a>		
			  		</li>

					<% end %>

				</ul>

			</div>

		</arcticle>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% @projects.offset(12).limit(12).each do |project| %>

				<li name="project-<%= project.id %>">

		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% @projects.offset(24).limit(12).each do |project| %>

				<li name="project-<%= project.id %>">

		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid layout-column-right">

			<ul class="list-all-designers">

				<% @projects.offset(36).limit(12).each do |project| %>

				<li name="project-<%= project.id %>">

		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<ul>

	</div>

</article>

<article class="layout-about">

	<div class="layout-container">

		<h3 class="section-title">About</h3>

		<p class="type-large-full">It is meaningless to define the exact location of a particle or it’s nucleus in the moment of observation. They are in constant movement and continuously entering new constellations.</p>

		<div class="layout-two-column-grid layout-column-right">

			<h4>Opening Times</h4>

			<p class="type-smallest">Programme 2015–2016 Sandberg Instituut’s Fine Arts department retains a focus on autonomy and making, while addressing the social and economic roles of art production. The programme structurally redefines conventional notions of artistic labour in three open modules: Language, Image and Play.</p>

			<p class="type-smallest">Programme 2015–2016 Sandberg Instituut’s Fine Arts department retains a focus on autonomy and making, while addressing the social and economic roles of art production. The programme structurally redefines conventional notions of artistic labour in three open modules: Language, Image and Play.</p>
		</div>

	</div>

</article>

<article class="layout-gallery">

	<h3 class="section-title absolute">Gallery</h3>

	<div id="slider">

	  <a href="#" class="control-next">dedne</a>
	  <a href="#" class="control-prev">dede</a>

	  <ul>
	    <li><img src="assets/db-img/project3/1.jpg"/></li>
	    <li></li>
	  </ul>

	</div>

</article>

<article class="layout-press">

	<div class="layout-container">

		<h3 class="section-title">Press</h3>

		<p class="type-large-full">It is meaningless to define the exact location of a particle or it’s nucleus in the moment of observation. They are in constant movement and continuously entering new constellations.</p>

		<div class="layout-two-column-grid layout-column-right">

			<h4>Press Downloads</h4>

			<p class="type-smallest">You can download images of our work by visiting the work section of our website, clicking on any project page, and clicking “download low resolution images” at the bottom of each page next to the credits. If you are writing an article about us online, you are free to use images of our work on your website or blog if you use proper credits.</p>

		</div>

		<div class="layout-two-column-grid layout-clear">

			<a href="#" class="download-button">Download Assets</a>
		</div>

	</div>

</article>

<article class="layout-contact">

	<h3 class="section-title">Contact</h3>

	<div class="layout-container">

	</div>

</article>

<footer class="layout-footer">

</footer>
