<header>

	<div class="layout-container">

		<nav class="main-menu">

			<ul class="menu-items">
				
				<li class="menu-item">

					<a id="layout-hero" class="menu-item-link menu--item--active" href="">About</a>

				</li>

				<li class="menu-item">
				
					<a id="layout-designers" class="menu-item-link" href="">Manifesto</a>

				</li>

				<li class="menu-item">

					<a id="layout-designers" class="menu-item-link" href="">People</a>

				</li>
		
			</ul>

		</nav>

	</div>

</header>

<article class="layout-hero">

	<div class="layout-container">

		<div class="layout-one-column-grid">

			<div class="hero-type-block layout-clear-top">

				<p class="type-hero">Lorem ipsum dolor sit amet, consectet adipiscing elit. Proin risus. Praesent lectus. Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere. Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Lorem ipsum dolor sit amet, consectet adipiscing elit. Proin risus. </p>

				<span class="event-date">Friday, 21st June 2015</span>
				<span class="event-details">Old Truman Brewery</span>
				<span class="event-details">91 Brick Lane, London, E1 6QL</span>
				<a href="http://citymapper.com/directions?endcoord=51.52118,-0.07186000000001513&endname=Old%20Truman%20Brewery&endaddress=Brick%20Lane
" class="link-get-directions">Get Directions on CityMapper</a>
			</div>

		</div>

		<div class="layout-three-column-grid layout-clear-top">

		</div>

		<div class="layout-one-column-grid layout-clear-top">

		</div>

	</div>

</article>

<article class="layout-designers">

	<div class="layout-container">

		<article class="layout-designer-expanded">

			<% @projects.limit(5).each do |project| %>

				<div id="project-<%= project.id %>" class="layout-project-expanded">

					<div class="layout-two-column-grid">

						<a href="#" class="back-to-all" id="project-<%= project.id %>">Close Project</a>
						
						<h4 class="expanded-project-name"><%= project.title %> - <%= project.designer %></h4>

						<div class="swiper-container">

							<div class="swiper-wrapper">

					            <div class="swiper-slide">

					            		          
					            
								</div>

					            <div class="swiper-slide">

					            	<img class="image-projects" src="assets/db-img/project<%= project.id %>/2.jpg"/>

					            </div>

					            <div class="swiper-slide">

					            	<img class="image-projects" src="assets/db-img/project<%= project.id %>/3.jpg"/>

					            </div>
					        
					        </div>

							    <div class="swiper-pagination"></div>
						</div>

					</div>

					<div class="layout-two-column-grid layout-column-right">

						<p class="expanded-project-description">
							<%= project.description %>
						</p>

						<a href="mailto:<%= project.email %>?Subject=Great%20Project!" class="expanded-email">Email Designer</a>

						<a class="expanded-url" href="<%= project.url %>">Visit Website</a>

					</div>

				</div>

			<% end %>

		</article>

		<article class="layout-designer-list">

			<div class="layout-one-column-grid">

				<ul class="list-all-designers">

					<% @projects.limit(12).each do |project| %>

					<li name="project-<%= project.id %>">
			  			<a class="list-designer-name"><%= project.designer %></a>	
			  			<a class="list-project-name"><%= project.title %></a>		
			  		</li>

					<% end %>

				</ul>

			</div>

		</arcticle>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% @projects.offset(12).limit(12).each do |project| %>

				<li name="project-<%= project.id %>">
		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid">

			<ul class="list-all-designers">

				<% @projects.offset(24).limit(12).each do |project| %>

				<li name="project-<%= project.id %>">

		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<div class="layout-one-column-grid layout-column-right">

			<ul class="list-all-designers">

				<% @projects.offset(36).limit(12).each do |project| %>

				<li name="project-<%= project.id %>">

		  			<a class="list-designer-name"><%= project.designer %></a>	
		  			<a class="list-project-name"><%= project.title %></a>		
			  	</li>

				<% end %>

			</ul>

		</div>

		<ul>

	</div>

</article>