<div class="background-white">

	<div class="backend-toolbar">

		<div class="backend-container">
			<p><%= link_to "Back To Site", projects_path %></p>
			<p><%= link_to "Add a Project", new_project_path %></p>
		</div>

	</div>

	<div class="backend-container">

		<div class="projects-holder">

			<% for project in @projects do %>

			<div class="backend-project">

			  <h3 class="backend-project-link"><%= link_to project.title, edit_project_path(project.id) %></h3>
			  
			  <h4 class="backend-project-designer"><%= project.designer %></h4>

			  <h4 class="backend-project-designer">ID: <%= project.id %></h4>

			</div>

			<% end %>

		</div>

	</div>

</div>