 <div class="background-white">

	<div class="backend-toolbar">

		<div class="backend-container">
			<%= link_to "Back To Site", projects_path %>
			<%= link_to "Add a Project", new_project_path %>
		</div>

	</div>

	<div class="backend-container">

		<div class="projects-holder">

		<%= simple_form_for @project do |form| %>
		  <%= form.input :title, label: "Project Title" %>
		  <%= form.input :designer, label: "Designer Name" %>
		  <%= form.input :url, label: "Designer / Project Website" %>
		  <%= form.input :email, label: "Designers Email" %>
		  <%= form.input :vimeo_link, label: "Vimeo Link" %>
		  <%= form.input :quote, label: "Quote", as: :text, :input_html => {:rows => 2} %>
		  <%= form.input :description, label: "Description", as: :text, :input_html => {:rows => 4} %>
		  <%= form.input :twitter, label: "Twitter" %>
		  <%= form.input :data_slow, label: "Data Slow" %>
		  <%= form.input :data_past, label: "Data Past" %>
		  <%= form.input :data_close, label: "Data Close" %>
		  <%= form.input :data_order, label: "Data Order" %>
		  <%= form.input :data_private, label: "Data Private" %>
		  <%= form.input :data_natural, label: "Data Natural" %>
		  <%= form.input :data_fiction, label: "Data Fiction" %>
		  <%= form.input :data_for, label: "Data For" %>
		  <%= form.button :submit %>
		<% end %>

		</div>

	</div>

</div>