<h4 id="js_project_name" class="expanded-project-name"><%= @project.title %> - <%= @project.designer %></h4>
<a id="js_project_site" class="link-expanded-email" href="http://<%= @project.url %>"><%= @project.url %></a>
<a id="js_project_email" class="link-expanded-email" href="mailto:<%= @project.email %>?Subject=Great%20Project!" ><%= @project.email %></a>
<a id="js_project_twitter" class="link-expanded-email" href="https://twitter.com/<%= @project.twitter %>" >@<%= @project.twitter %></a>
<div id="js_image_one" class="swiper-slide"><%= image_tag("#{::Rails.root.to_s}/db-img/project#{@project.id}/1.jpg") %></div>
<div id="js_image_two" class="swiper-slide"><%= image_tag("#{::Rails.root.to_s}/db-img/project#{@project.id}/2.jpg") %></div>
<div id="js_image_three" class="swiper-slide"><%= image_tag("#{::Rails.root.to_s}/db-img/project#{@project.id}3.jpg") %></div>
<p id="js_quote" class="expanded-project-quote"><%= @project.quote %></p>
<div id="js_description" class="expanded-project-description"><%= simple_format(@project.description) %></div>



